#pageslide {
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 17.7778%;
    background-color: #333333;
    color: #f0f8ff;
    white-space: pre-line;
    overflow-y: scroll;
    transition: all linear 0.5s;
}

.container {
    position: relative;
    left: 0px;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.container.pull-right {    
    left: 17.7778%;
}

@keyframes pageslider-fade-in {
    0% {
        width: 0px;
        opacity: 0;
        color: #333333;
    }

    50% {
        width: 17.7778%;
        opacity: 1;
        color: #333333;
    }

    100% {
        width: 17.7778%;
        opacity: 1;
        color: #f0f8ff;
    }
}

#pageslide.ng-hide-add {
    transition: all linear 0.5s;    
}

#pageslide.ng-hide-remove {
    animation: pageslider-fade-in 1.0s ease;
}

#pageslide.ng-hide {
    width: 0px !important;
    opacity: 0 !important;
}

#pageslide.text-fade-out {
    color: #333333;
}